upstream ips {
#    server httpd{{(2*item)-1}}:808{{(2*item)-1}};
#    server httpd{{item*2}}:808{{item*2}};

    server httpd{{(2*item)-1}} max_fails=3 fail_timeout=30s;
    server httpd{{item*2}} max_fails=3 fail_timeout=30s;

}

server {
    listen       80;
    server_name  localhost;

#    location / {
#        root   /usr/share/nginx/html;
#        index  index.html index.htm;
#    }

    location / {
        proxy_pass http://ips;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

}
