server {
  listen   {{ listening_port }} ssl;
  server_name  {{ listening_dns }};
  
  ssl_certificate_key ./conf.d/{{CACommonName}}.pem;
  ssl_certificate     ./conf.d/{{CommonName}}.crt;
 
  {% for config in server_config %}
  {{ config }}
  {% endfor %}
 
  location / {
    proxy_pass http://{{ downstream_server_ip }}:{{ downstream_server_port }};

    {% for config in location_config %}
    {{ config }}
    {% endfor %}

  }
}

